In [2]:

print("Hello World!")

Hello World!

In [7]:
# add two int data type

a=76
b=66
c=a+b
c

142

In [6]:
# add float data type

a=76.45
b=66.67
c=a+b
c

143.12

In [5]:
#print string

a="saddam"
print(a)

saddam

In [8]:
# print age

age=62
print(age)

62

In [11]:
#print cgpa

cgpa=3.6
print(cgpa)

3.6

In [10]:
# characters position

a="saddam"
print(a[4])

a

In [12]:
# string length

a="saddam hossain"
print(len(a))

14

In [14]:
# returns the string in upper case

a="saddam hossain"
print(a.upper())

SADDAM HOSSAIN

In [15]:
# returns the string in lower case

a="SADDAM"
print(a.lower())

saddam

In [16]:
# replaces a string with another string
    
a="saddam hossain"
print(a.replace("hossain","sarkar"))

saddam sarkar

In [17]:
# create list

listis = ["red","blue","black","pink","green"]
print(listis)

['red', 'blue', 'black', 'pink', 'green']

In [18]:
# change any list item with other item

listis = ["red","blue","black","pink","green"]
listis[2]="white"
print(listis)

['red', 'blue', 'white', 'pink', 'green']

In [19]:
# Print all items in the list, one by one

listis = ["red","blue","black","pink","green"]
for x in listis:
    print(x)

red
blue
black
pink
green

In [20]:
# insert a colour

listis = ["red","blue","black","pink","green"]
listis.insert(3,"yellow")
print(listis)

['red', 'blue', 'black', 'yellow', 'pink', 'green']

In [21]:
#remove a colour

listis = ["red","blue","black","pink","green"]
listis.remove("pink")
print(listis)

['red', 'blue', 'black', 'green']

In [22]:
# any number squre value

def makedouble(x):
    return 2*x;
print(makedouble(3.14167))

6.28334

In [23]:
# gread system

def getgread(marks):
    if(marks>=80):
        return "A+"
    elif(marks>=70 and marks <=79):
        return "A"
    elif(marks>=60 and marks <=69):
        return "B"
    elif(marks>=50 and marks <=59):
        return "C"
    elif(marks>=40 and marks <=49):
        return "D"
    else:
        return "fail"
print(getgread(66))

B

In [24]:
# greater then or less then or equal to

def greaterless(number):
    if(number>70):
        return "number is greater then"
    elif(number<70):
        return "number is less then"
    else:
        return "number is equal"
print(greaterless(56))

number is less then

In [26]:
# greater or less then or equal to

a = 447
b = 212
if a > b:
    print("a is greater than b")
elif a<b:
     print("a is less than b")
elif a == b:
    print("a and b are equal")

a is greater than b

In [27]:
# use while

number=1
while number<10:
    print(number)
    number+=1

1
2
3
4
5
6
7
8
9

In [29]:
for x in range(1,19,2):
    print(x)

1
3
5
7
9
11
13
15
17

In [30]:
#function

def my_function(name):
   print("welcome, " + name)
my_function("saddam")

welcome, saddam

In [31]:
#function

def my_function(name):
  return "welcome, "
my_function("saddam")

'welcome, '

In [28]:
for x in range(6):
    print(x)

0
1
2
3
4
5